* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  
  main {
    padding: 0;
  }
  
  .container {
    display:flex;
    flex-direction: row;
    height: 200px;
    justify-content: space-around;
    align-items: center;
    gap: 12px;
    background-color: aliceblue;
    border: none;
    flex-wrap: wrap;
  }
  
  .box {
    font-size: 1.2em;
    width: 100px;
    height: 100px;
    padding: 12px;
    color: white;
  }
  
  .box-1 {
    /*flex-grow: 2;*/
    background-color: #264653;
  }
  .box-2 {
/*    align-self: flex-end;*/
    background-color: #2a9d8f;
  }
  .box-3 {
    /*flex-grow: 1;*/
    background-color: #e9c46a;
  }
  .box-4 {
    background-color: #f4a261;
  }
  .box-5 {
    /*flex-grow: 1;*/
    background-color: #e76f51;
  }